<div class="container mt-3 cocktails">
	<h1 class="title">Select your cocktail</h1>
	<div class="d-flex row">
		<% if @cocktails.empty? %>
			<p>
				There are no cocktails yet.
				<%= link_to 'Add a cocktail!', new_cocktail_path %>
			</p>
		<% else %>
			<% @cocktails.each do |cocktail| %>
				<%= link_to cocktail_path(cocktail) do %>
					<div class="">
						<%= cocktail.name %>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>